p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cat-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 8px;
}

.profile-1 {
    width: 150px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 10px;
}

.profile-name {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}

.mutual-friends {
    font-size: 13px;
    color: rgb(95, 95, 95);
    margin-left: 10px;
    margin-bottom: 10px;
}

.add-friend-button {
    background-color: rgb(39, 99, 230);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 7px 16px;
    margin-left: 10px;
}

.add-friend-button:hover {
    cursor: pointer;
}