p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.first-line {
    margin-bottom: 8px;
}

.site {
    font-weight: bold;
}

.at {
    color: grey;
}

.intro {
    margin-bottom: 15px;
    width: 500px;
}

.reference-1 {
    color: rgb(53, 112, 201);
}

.reference-1:hover {
    cursor: pointer;
    text-decoration: underline;
}