.sidebar {
    position: fixed;
    background-color: white;
    left: 0px;
    top: 55px;
    bottom: 0;
    width: 72px;
    font: arial;
    z-index: 200;
    padding-top: 6px;
    
}


.sidebar-link {
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.sidebar img {
    width: 24px;
}

.link-name {
    font-family: Roboto, Arial;
    font-size: 10px;
    margin-top: 4px;
    
}