.thumbnail {
    width: 100%;
}


.video-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 8px;
    margin-left: -2px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    border-radius: 50px;
    width: 36px;
    margin-top: 8px;
}

.channel-picture {
    position: relative;
    pointer-events: none;
}

.channel-picture a {
    pointer-events: auto;
}

.channel-picture .hover-profile {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 190px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.channel-picture:hover .hover-profile {
    opacity: 1;
}

.hover-profile-picture {
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    pointer-events: none;
}

.hover-channel-name {
    font-size: 16px;
    font-weight: bold;
}

.hover-video-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.hover-subscribers {
    color: #606060;
    font-size: 14px;
    margin-top: -3px;
}

.channel-name,
.video-stats {
    color: #606060;
    margin-bottom: 4px;
    font-size: 12px;
    margin-left: -2px;
    margin-top: -2px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.thumbnail-row {
    position: relative;
}

.video-time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    right: 5px;
    bottom: 10px;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 510;
}


@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 540px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}