p {
    font-family: Montserrat;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.model-number {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 15px;
}

.details {
    font-size: 20px;
}

.underlined-text {
    text-decoration: underline;
}

.underlined-text:hover {
    cursor: pointer;
}